.App {
  /*text-align: center;*/
}

.Shape1 {
  height: 50px;
  width: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.Shape2 {
  height: 30px;
  width: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.Shape3 {
  height: 10px;
  width: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}